// @import url("./layout/normalize.css");
@import url("../css/layout/base.css");

@import url("../css/blocks/header.css");
@import url("../css/blocks/main.css");
@import url("../css/blocks/sidebar.css");
@import url("../css/blocks/why.css");
@import url("../css/blocks/menu.css");
@import url("../css/blocks/reviews.css");
@import url("../css/blocks/video.css");
@import url("../css/blocks/delivery.css");
@import url("../css/blocks/contacts.css");
@import url("../css/blocks/slider.css");
@import url("../css/blocks/team.css");

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .main__color {
    background: url(../img/bg2.png) top 20% right/ 70% auto no-repeat;
    background-color: #61c4d9;
  }

  .header .container {
    background: url(./../img/comp5.png) top 20% center no-repeat;
  }

  .container__header {
    margin-bottom: 28rem;
  }

  .header__menu {
    display: none;
  }

  .header__number {
    display: none;
  }

  .burger__menu {
    display: inline-flex;
  }

  .main__order {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__order-title__name {
    width: 100%;
    text-align: center;
  }

  .main__order-title__description {
    max-width: 20.61rem;
    margin: 0 auto;
    margin-bottom: 1.27rem;
  }

  .main__addition {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .why {
    background: url(../../img/uzor.png) left top 78% no-repeat;
  }

  .why__options-item::before {
    content: "";
  }

  .slider {
    text-align: center;
  }

  .arrows__slide {
    top: 30%;
  }

  .slide__item {
    display: block;
  }

  .slider__compos {
    display: none;
  }

  .slider__energy {
    justify-content: center;
  }

  .slider__order {
    justify-content: center;
  }

  .team__list {
    flex-direction: column;
    min-height: 100px;
  }

  .team__item {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .team__item-head {
    display: none;
  }

  .team__item-head {
    display: none;
  }

  .team__item-head--active {
    display: inline-block;
  }

  .reviews__content-about {
    background: url(../../img/kust.png) top 1.22rem right/20% no-repeat;
    display: block;
    text-align: center;
  }

  .reviews__content-about__info-myself {
    max-width: none;
  }

  .reviews__content-about__logo-img {
    width: 130px;
    height: 130px;
  }

  .delivery {
    background: url(./../img/back.png) center center no-repeat;
  }

  .delivery .form__col {
    margin-right: 0;
    margin-bottom: 0.77rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .delivery::before {
    content: "";
  }

  #form__container {
    display: block;
    max-width: 25.88rem;
    margin: 0 auto;
  }

  .reviews__content-about__logo {
    margin-right: 0;
  }

  .contacts__info {
    padding: 1.55rem 1.66rem;
  }
}

@media (max-width: 678px) {
  .menu__slide-text {
    width: 300px;
    margin: 15px;
    margin-top: 35px;
  }
}

@media (max-width: 640px) {
  .menu__slide-text {
    width: 250px;
    margin: 12px;
    margin-top: 35px;
  }
}

@media (max-width: 570px) {
  .menu__slide-text {
    width: 200px;
    margin: 10px;
    margin-top: 35px;
  }
}

@media (max-width: 540px) {
  .menu__slide-text {
    width: 150px;
    margin: 7px;
    margin-top: 35px;
  }

  .menu__title {
    left: 5%;
  }
}

@media (max-width: 500px) {
  .menu__slide-text {
    width: 340px;
  }
}

@media (max-width: 490px) {
  .menu__title {
    left: 2%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .main__order-btn__create {
    font-size: 1.05rem;
  }

  .why {
    background: none;
  }

  .why__options {
    display: block;
  }

  .why__options-item {
    display: flex;
    text-align: start;
    align-items: center;
  }

  .why__options-item__icon {
    margin-right: 0.66rem;
  }

  .slider__content {
    min-width: 250px;
  }

  .reviews__content-about__logo {
    max-width: 7.38rem;
    max-height: 7.38rem;
    margin: 0 auto;
    margin-bottom: 0.88rem;
  }

  .delivery {
    background: url(./../img/back.png) center center no-repeat;
  }

  .form__choose {
    .form__row {
      justify-content: center;
      margin-bottom: 1.66rem;
    }

    .form__info {
      flex: 0;
    }
  }

  .contacts__info-address {
    margin-bottom: 1.05rem;
  }

  .contacts__info-address__geo {
    margin-bottom: 0.66rem;
  }

  .contacts__info {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .menu__title {
    transform: rotate(-90deg);
    left: -15px;
  }

  .menu__slide {
    width: 90px;
  }

  .menu__slide-text {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .header .container {
    background: url(../../img/comp7.png) top 25% center/ 105% no-repeat;
  }

  .why::after {
    bottom: -4.55rem;
  }

  .menu__slide-text {
    width: 240px;
  }
}

@media (max-width: 380px) {
  .menu__title {
    left: -35px;
  }
}
@media (max-width: 360px) {
  .menu__slide-text {
    width: 200px;
  }
  .menu__title {
    left: -53px;
  }
}

#hides__bar {
  position: fixed;
  z-index: 10000;
  background: #313131;
  width: 100%;
  height: 100%;
  display: none;
}

.bar--list {
  margin: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header__menu-list__item {
    margin-right: 0;
    font-size: 36px;
    line-height: 72px;
    font-weight: normal;
  }
}

// @media (max-width: 1000px) {
//   html {
//     font-size: 17px;
//   }
// }

// @media (max-width: 900px) {
//   html {
//     font-size: 16.5px;
//   }
// }

// @media (max-width: 800px) {
//   html {
//     font-size: 14.5px;
//   }
// }

// @media (max-width: 768px) {
//   .sidebar {
//     display: none;
//   }
// }
// html,
// body {
//   height: 100%;
// }

// body {
//   font-family: "Alegreya Sans", Helvetica, sans-serif;
//   background: #fff;
//   color: #fff;
//   font-weight: 400;
//   line-height: 1.42;
//   font-size: 14px;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   margin: 0;
// }

// .wrapper {
//   overflow: hidden;
//   min-width: 1140px;
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .wrapper__content {
//   flex: 1;
// }

// a {
//   color: inherit;
// }

// ul {
//   padding: 0;
//   margin: 0;
// }

// ul li {
//   list-style: none;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   font-weight: normal;
// }

// .container {
//   margin: 0 auto;
//   width: 940px;
//   position: relative;
// }

// button {
//   cursor: pointer;
//   border: none;
//   background: transparent;
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// * {
//   box-sizing: border-box;
// }

// $black: #292929;
// $green: #497870;

// .main__color {
//   background: url("../img/list_2.png") bottom right no-repeat;
//   height: 100vh;
//   min-height: 650px;
//   margin-bottom: 100px;
//   position: relative;
//   background-color: #61c4d9;

//   &::before {
//     content: url("../img/list_3.png");
//     left: 3%;
//     bottom: -25px;
//     position: absolute;
//   }
// }

// .container__header {
//   margin-bottom: 19vh;
// }

// .header {
//   padding-top: 24.3px;

//   .container {
//     background: url("../img/comp_2.png") right center / 49% auto no-repeat;
//   }

//   .container__header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// .header__menu-list {
//   display: flex;
//   justify-content: space-between;
// }
// .header__menu-list__item {
//   margin-right: 27px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .header__menu-list__item-link {
//   text-decoration: none;
//   transition: 0.3s;
//   color: #ffffff;
//   font-size: 18px;
//   line-height: 20px;

//   &:hover {
//     color: #b3b3b3;
//   }
// }

// .header__number {
//   width: 166px;
//   display: flex;
//   justify-content: space-between;
// }
// .header__number-icon {
//   position: relative;
// }

// .header__number-phone {
//   font-size: 22px;
//   line-height: 18px;
//   text-decoration: none;
//   width: 146px;
//   position: relative;

//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 160px;
//     height: 30px;
//     left: -25px;
//   }
// }

// .main {
//   position: relative;
//   margin-bottom: 50px;
// }

// .main__order {
//   margin-bottom: 13vh;
// }

// .main__order-title__name {
//   font-size: 48px;
//   width: 353px;
//   font-weight: 700;
//   text-transform: uppercase;
//   line-height: 57.6px;
//   margin-bottom: 6vh;
// }

// .main__order-title__description {
//   font-size: 21px;
//   line-height: 25.2px;
//   width: 371px;
//   color: #fff;
//   margin-bottom: 7vh;
// }

// .main__order-btn {
//   min-width: 156px;
//   min-height: 60px;
//   align-items: center;
//   display: flex;
// }

// .main__order-btn__create {
//   font-size: 16px;
//   line-height: 18px;
//   font-weight: 800;
//   text-transform: uppercase;
//   text-decoration: none;
//   color: #365a49;
//   padding: 21px 41px;
//   background: #fff;
//   border-radius: 30px;
//   transition: 0.2s;

//   &:hover {
//     color: #fff;
//     background: #365a49;
//   }
// }

// .main__addition-list {
//   display: flex;
// }

// .main__addition-list__item {
//   margin-right: 9px;
//   display: flex;
//   align-items: flex-start;
// }

// .main__addition-list__item-icon {
//   margin-right: 13px;
// }

// .main__addition-list__item-info {
//   width: 114px;
//   font-size: 16px;
//   line-height: 18px;
// }

// .sidebar {
//   display: block;
//   position: absolute;
//   right: 3vh;
//   top: 50vh;
//   transform: translate(-50%, -50%);
// }

// .sidebar__list {
//   display: flex;
//   flex-direction: column;
// }

// .sidebar__list-item {
//   width: 18px;
//   height: 18px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 6px;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// .sidebar__list-item__link {
//   background: url(../img/Ellipse2.png) center center no-repeat;
//   padding: 9px;

//   &:hover {
//     content: url(../img/Ellipse_range.png);
//   }
// }

// .why {
//   background: url("../img/uzor.png") left top 25% no-repeat;
//   position: relative;
//   height: 100vh;
//   min-height: 650px;

//   &::after {
//     content: url("../img/malina.png");
//     left: 0;
//     bottom: -100px;
//     position: absolute;
//   }

//   .container {
//     text-align: center;
//     color: $black;
//     margin-bottom: 180px;
//   }
// }

// .why__title-name {
//   font-weight: 700;
//   font-size: 48px;
//   line-height: 57.6px;
//   text-transform: uppercase;
//   margin-bottom: 19px;
// }

// .why__title-about {
//   color: #666;
//   font-size: 18px;
//   line-height: 21.6px;
//   margin-bottom: 49px;
// }

// .why__options {
//   display: flex;
//   justify-content: space-around;
// }

// .why__options-item {
//   position: relative;
//   &::before {
//     content: url("../img/Combined.png");
//     display: block;
//     position: absolute;
//     left: 109%;
//     top: 23%;
//   }
//   &:last-child::before {
//     content: "";
//   }
// }

// .why__options-item__icon {
//   margin-bottom: 20px;
//   position: relative;
// }

// @each $optionss in man, smile, strong {
//   .options__icon-#{$optionss} {
//     text-align: center;
//     &::before {
//       content: url("../img/icon-#{$optionss}.png");
//       position: absolute;
//       display: block;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//     }
//   }
// }

// .why__options-item__info-title {
//   font-size: 27px;
//   font-weight: 700;
//   line-height: 30.4px;
// }

// .why__options-item__info-about {
//   font-weight: 300;
//   font-size: 18px;
//   line-height: 21.6px;
// }

// .reviews {
//   margin-bottom: 125px;
//   background: url("../img/zlaki.png") top 3% right 3% no-repeat;
//   position: relative;
//   height: 100vh;
//   min-height: 650px;

//   &::before {
//     content: url("../img/loza.png");
//     position: absolute;
//     display: block;
//     left: 0;
//     bottom: -230px;
//   }

//   &::after {
//     content: url("../img/4ernika.png");
//     position: absolute;
//     display: block;
//     left: 0;
//     bottom: -160px;
//   }
// }

// .reviews__title {
//   margin-bottom: 32px;
//   text-align: center;
// }

// .reviews__title-name {
//   font-weight: 700;
//   font-size: 48px;
//   line-height: 57.6px;
//   color: $black;
//   text-transform: uppercase;
// }

// .reviews__content {
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     background: #fff;
//     display: block;
//     left: 50%;
//     top: -10px;
//     transform: translate(-50%, -50%);
//     width: 8em;
//     height: 5em;
//     border-radius: 0 0 50% 50% / 0 0 100% 100%;
//   }
// }

// .reviews__content-about {
//   padding: 39px;
//   background: #f8faf9;
//   display: flex;
//   align-items: center;
//   margin-bottom: 15px;
// }

// .reviews__content-about__logo {
//   margin-right: 40px;
// }

// .reviews__content-about__info {
//   position: relative;
//   &::before {
//     content: url("../img/kust.png");
//     position: absolute;
//     top: -30px;
//     right: -145px;
//   }
// }

// .reviews__content-about__info-title {
//   color: $black;
//   font-weight: 700;
//   font-size: 27px;
//   line-height: 32.4px;
//   margin-bottom: 12px;
// }

// .reviews__content-about__info-myself {
//   color: #666;
//   font-size: 18px;
//   line-height: 21.6px;
//   width: 460px;
//   margin-bottom: 25px;
// }

// .reviews__content-about__info-name {
//   color: $black;
//   font-size: 18px;
//   line-height: 24px;
//   font-weight: 500;
// }

// .reviews__content-list {
//   display: flex;
//   justify-content: center;
// }

// .reviews__content-list__item {
//   margin-right: 6px;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// @each $names in alena, vadim, masha {
//   .reviews__content-list__item-link__#{$names} {
//     display: block;
//     background-image: url("../img/#{$names}.png");
//     width: 74px;
//     height: 74px;
//   }
//   .reviews__img--active {
//     display: block;
//     background-image: url("../img/alena_1.png");
//     width: 74px;
//     height: 74px;
//   }
// }

// .delivery {
//   height: 100vh;
//   min-height: 650px;
//   background: url("../img/listo4ek.png") right 1% bottom 6% no-repeat,
//     url("../img/e4rnika.png") left 3% bottom 7% no-repeat,
//     url(../img/back.png) center center no-repeat;
//   position: relative;
//   .container {
//     padding: 62px 0px;
//   }

//   &::before {
//     content: url(../img/e3evika.png);
//     position: absolute;
//     display: block;
//     right: 0;
//     top: -165px;
//   }
// }

// .delivery__title {
//   text-align: center;
//   color: #365a49;
//   font-weight: 700;
//   font-size: 48px;
//   text-transform: uppercase;
//   line-height: 57.6px;
//   margin-bottom: 59px;
// }

// .delivery__container {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 46px;
// }

// .delivery__main {
//   width: 460px;
// }

// .delivery__main-top {
//   display: flex;
//   margin-bottom: 12px;
// }

// .delivery__main-top__name {
//   margin-right: 17px;
// }

// .delivery__main-top__name-title {
//   color: $green;
//   font-size: 18px;
//   line-height: 21.6px;
// }

// .delivery__main-top__name-input {
//   color: #000;
//   padding: 23px 12px;
//   width: 222px;
//   border-radius: 4px;
//   border: none;
//   outline: none;
// }

// .delivery__main-top__phone-title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__main-top__phone-input {
//   @extend .delivery__main-top__name-input;
// }

// .delivery__main-center {
//   margin-bottom: 12px;
// }

// .delivery__main-center__street-title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__main-center__street-input {
//   @extend .delivery__main-top__name-input;
//   width: 459.53px;
// }

// .delivery__main-bottom {
//   display: flex;
// }

// .delivery__main-bottom__house-title,
// .delivery__main-bottom__hull-title,
// .delivery__main-bottom__apartment-title,
// .delivery__main-bottom__floor-title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__main-bottom__house-input,
// .delivery__main-bottom__hull-input,
// .delivery__main-bottom__apartment-input,
// .delivery__main-bottom__floor-input {
//   @extend .delivery__main-top__name-input;
//   width: 105.52px;
//   margin-right: 13.48px;
// }

// .delivery__main-bottom__floor-input {
//   margin-right: 0px;
// }

// .delivery__form-order__comment-input {
//   margin-bottom: 38px;
// }

// .delivery__form-order__comment-input__title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__form-order__comment-input__form {
//   width: 450px;
//   height: 152px;
//   border: none;
//   border-radius: 4px;
//   padding: 11px 11px;
//   outline: none;
//   resize: none;
// }

// .delivery__form-order__comment-choose__real {
//   display: flex;
//   margin-bottom: 19px;
// }

// .delivery__form-order__comment-choose__real-money {
//   margin-right: 21px;

//   &:last-child {
//     margin-right: 0px;
//   }
// }

// .delivery__form-order__comment-choose__real-money__btn {
//   display: none;
// }

// .delivery__form-order__comment-choose__real-money__title {
//   @extend .delivery__main-top__name-title;
//   padding-left: 37px;
//   position: relative;

//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     background: #fff;
//     left: 3px;
//     top: 0px;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     display: block;
//     width: 12px;
//     height: 12px;
//     top: 6px;
//     left: 10px;
//     opacity: 0;
//     border-radius: 50%;
//     background: #365a49;
//     transition: 0.2s;
//   }
// }

// .delivery__form-order__comment-choose__real-money__btn:checked
//   + .delivery__form-order__comment-choose__real-money__title::after {
//   opacity: 1;
// }

// .delivery__form-order__comment-call {
//   margin-bottom: 49px;
// }

// .delivery__form-order__comment-call__label-choose {
//   display: none;
// }

// .delivery__form-order__comment-call__label-text {
//   @extend .delivery__main-top__name-title;
//   padding-left: 37px;
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     display: block;
//     left: 3px;
//     top: -1px;
//     width: 24px;
//     height: 24px;
//     border-radius: 4px;
//     background: #fff;
//   }

//   &::after {
//     content: url("../img/good.png");
//     position: absolute;
//     display: block;
//     top: -1px;
//     left: 10px;
//     opacity: 0;
//     width: 9.95px;
//     height: 8.01px;
//     transition: 0.2s;
//   }
// }

// .delivery__form-order__comment-call__label-choose:checked
//   + .delivery__form-order__comment-call__label-text::after {
//   opacity: 1;
// }

// .delivery__form-button {
//   display: flex;
//   align-items: center;
//   justify-content: end;
// }

// .delivery__form-button__submit {
//   padding: 21px 41px;
//   background: #2e4e3f;
//   text-transform: uppercase;
//   color: #fff;
//   font-weight: 800;
//   font-size: 16px;
//   line-height: 18px;
//   border-radius: 30px;
//   outline: none;
//   margin-right: 5px;
//   transition: 0.2s;

//   &:hover {
//     background: #fff;
//     color: #365a49;
//   }
// }

// .delivery__form-button__reset {
//   @extend .delivery__main-top__name-title;
//   outline: none;
//   height: 22px;
// }
