@import url("../css/layout/base.css");
@import url("../css/blocks/header.css");
@import url("../css/blocks/main.css");
@import url("../css/blocks/sidebar.css");
@import url("../css/blocks/why.css");
@import url("../css/blocks/reviews.css");
@import url("../css/blocks/delivery.css");
@import url("../css/blocks/contacts.css");
@import url("../css/blocks/slider.css");
@import url("../css/blocks/team.css");
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .main__color {
    background: url(../img/bg2.png) top 20% right/70% auto no-repeat;
    background-color: #61c4d9;
  }

  .header .container {
    background: url(./../img/comp5.png) top 20% center no-repeat;
  }

  .container__header {
    margin-bottom: 28rem;
  }

  .header__menu {
    display: none;
  }

  .header__number {
    display: none;
  }

  .burger__menu {
    display: inline-flex;
  }

  .main__order {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__order-title__name {
    width: 100%;
    text-align: center;
  }

  .main__order-title__description {
    max-width: 20.61rem;
    margin: 0 auto;
    margin-bottom: 1.27rem;
  }

  .main__addition {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .why {
    background: url(../../img/uzor.png) left top 78% no-repeat;
  }

  .why__options-item::before {
    content: "";
  }

  .slider {
    text-align: center;
  }

  .arrows__slide {
    top: 30%;
  }

  .slide__item {
    display: block;
  }

  .slider__compos {
    display: none;
  }

  .slider__energy {
    justify-content: center;
  }

  .slider__order {
    justify-content: center;
  }

  .team__list {
    flex-direction: column;
  }

  .team__item {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .team__item-head {
    display: none;
  }

  .reviews__content-about {
    background: url(../../img/kust.png) top 1.22rem right/20% no-repeat;
    display: block;
    text-align: center;
  }

  .reviews__content-about__info-myself {
    max-width: none;
  }

  .delivery {
    background: url(./../img/back.png) center center no-repeat;
  }

  .delivery .form__col {
    margin-right: 0;
    margin-bottom: 0.77rem;
  }
  .delivery .form__col:last-child {
    margin-bottom: 0;
  }

  .delivery::before {
    content: "";
  }

  .form__container {
    display: block;
    max-width: 25.88rem;
    margin: 0 auto;
  }

  .reviews__content-about__logo {
    margin-right: 0;
  }

  .contacts__info {
    padding: 1.55rem 1.66rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .main__order-btn__create {
    font-size: 1.05rem;
  }

  .why {
    background: none;
  }

  .why__options {
    display: block;
  }

  .why__options-item {
    display: flex;
    text-align: start;
    align-items: center;
  }

  .why__options-item__icon {
    margin-right: 0.66rem;
  }

  .slider__content {
    min-width: 250px;
  }

  .reviews__content-about__logo {
    max-width: 7.38rem;
    max-height: 7.38rem;
    margin: 0 auto;
    margin-bottom: 0.88rem;
  }

  .delivery {
    background: url(./../img/back.png) center center no-repeat;
  }

  .form__choose .form__row {
    justify-content: center;
    margin-bottom: 1.66rem;
  }
  .form__choose .form__info {
    flex: 0;
  }

  .contacts__info-address {
    margin-bottom: 1.05rem;
  }

  .contacts__info-address__geo {
    margin-bottom: 0.66rem;
  }

  .contacts__info {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .header .container {
    background: url(../../img/comp7.png) top 25% center/105% no-repeat;
  }

  .why::after {
    bottom: -4.55rem;
  }
}
#hides__bar {
  position: fixed;
  z-index: 10000;
  background: #313131;
  width: 100%;
  height: 100%;
  display: none;
}

.bar--list {
  margin: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar--list .header__menu-list__item {
  margin-right: 0;
  font-size: 36px;
  line-height: 72px;
  font-weight: normal;
}