$black: #292929;
$green: #497870;

.delivery {
  height: 100vh;
  min-height: 36.11rem;
  background: url("../../img/listo4ek.png") right 1% bottom 6% no-repeat,
    url("../../img/e4rnika.png") left 3% bottom 7% no-repeat,
    url("./../img/back.png") center center no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    padding: 3.44rem 0px;
  }

  &::before {
    content: url("../../img/e3evika.png");
    position: absolute;
    display: block;
    right: 0;
    top: -9.16rem;
  }
}

.delivery__title {
  text-align: center;
  color: #365a49;
  font-weight: 700;
  font-size: 2.66rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  margin-bottom: 3.27rem;
}

.form__container {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.11rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.66rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__info {
  flex: 1;
  margin-right: 0.94rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  color: $green;
  font-size: 1rem;
  line-height: 21.6px;
  white-space: nowrap;
}

.form__input {
  width: 100%;
  padding: 0.61rem 1rem;
  border-radius: 0.2222rem;
  border: 0.1667rem solid transparent;
  outline: none;
  transition: 0.3s;
  height: 3.22rem;

  &:focus {
    border: 0.1667rem solid #dee2bd;
  }
}

.form__textarea {
  resize: none;
  height: 8.44rem;
}

.form__input-checkbox {
  display: none;
}

.delivery__form-order {
  padding-left: 2.05rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1.38rem;
    height: 1.38rem;
    border-radius: 50%;
    background: #fff;
    left: 0.16rem;
    top: 0px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.66rem;
    height: 0.66rem;
    top: 0.33rem;
    left: 0.55rem;
    opacity: 0;
    border-radius: 50%;
    background: #365a49;
    transition: 0.2s;
  }
}

.form__input-checkbox:checked + .delivery__form-order::after {
  opacity: 1;
}

.delivery__form-order__call {
  display: none;
}

.delivery__form-order__pay {
  padding-left: 2.05rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0.16rem;
    top: -0.05rem;
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 0.22rem;
    background: #fff;
  }

  &::after {
    content: url("../../img/good.png");
    position: absolute;
    display: block;
    top: -0.05rem;
    left: 0.55rem;
    opacity: 0;
    width: 0.55rem;
    height: 0.44rem;
    transition: 0.2s;
  }
}

.delivery__form-order__call:checked + .delivery__form-order__pay::after {
  opacity: 1;
}

.form__row--shift {
  margin-bottom: 2.22rem;
}

.delivery__form-button {
  display: flex;
  align-items: center;
  justify-content: end;
}

.delivery__form-button__submit {
  padding: 1.16rem 2.27rem;
  background: #2e4e3f;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 0.88rem;
  line-height: 1rem;
  border-radius: 1.66rem;
  outline: none;
  margin-right: 0.27rem;
  transition: 0.2s;

  &:hover {
    background: #fff;
    color: #365a49;
  }
}

.delivery__form-button__reset {
  outline: none;
  height: 1.22rem;
}

// .delivery__container {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 2.55rem;
// }

// .delivery__main {
//   flex: 1;
//   margin-right: 1.38rem;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .delivery__main-top {
//   display: flex;
//   margin-bottom: 0.66rem;
// }

// .delivery__main-top__name {
//   margin-right: 17px;
// }

// .delivery__main-top__name-title {
//   color: $green;
//   font-size: 1rem;
//   line-height: 1.2rem;
// }

// .delivery__main-top__name-input {
//   color: #000;
//   padding: 1.27rem 0.66rem;
//   width: 12.33rem;
//   border-radius: 0.22rem;
//   border: none;
//   outline: none;
// }

// // .delivery__main-top__phone-title {
// //   @extend .delivery__main-top__name-title;
// // }

// // .delivery__main-top__phone-input {
// //   @extend .delivery__main-top__name-input;
// // }

// .delivery__main-center {
//   margin-bottom: 0.66rem;
// }

// .delivery__main-center__street-title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__main-center__street-input {
//   @extend .delivery__main-top__name-input;
//   width: 25.55rem;
// }

// .delivery__main-bottom {
//   display: flex;
// }

// .delivery__main-bottom__house-title,
// .delivery__main-bottom__hull-title,
// .delivery__main-bottom__apartment-title,
// .delivery__main-bottom__floor-title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__main-bottom__house-input,
// .delivery__main-bottom__hull-input,
// .delivery__main-bottom__apartment-input,
// .delivery__main-bottom__floor-input {
//   @extend .delivery__main-top__name-input;
//   width: 5.86rem;
//   margin-right: 0.74rem;
// }

// .delivery__main-bottom__floor-input {
//   margin-right: 0px;
// }

// .delivery__form-order__comment-input {
//   margin-bottom: 2.11rem;
// }

// .delivery__form-order__comment-input__title {
//   @extend .delivery__main-top__name-title;
// }

// .delivery__form-order__comment-input__form {
//   width: 25rem;
//   height: 8.44rem;
//   border: none;
//   border-radius: 0.22rem;
//   padding: 0.61rem 0.61rem;
//   outline: none;
//   resize: none;
// }

// .delivery__form-order__comment-choose__real {
//   display: flex;
//   margin-bottom: 1.05rem;
// }

// .delivery__form-order__comment-choose__real-money {
//   margin-right: 1.16rem;

//   &:last-child {
//     margin-right: 0px;
//   }
// }

// .delivery__form-order__comment-choose__real-money__btn {
//   display: none;
// }

// .delivery__form-order__comment-choose__real-money__title {
//   @extend .delivery__main-top__name-title;
//   padding-left: 2.05rem;
//   position: relative;

//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 1.38rem;
//     height: 1.38rem;
//     border-radius: 50%;
//     background: #fff;
//     left: 0.16rem;
//     top: 0px;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     display: block;
//     width: 0.66rem;
//     height: 0.66rem;
//     top: 0.33rem;
//     left: 0.55rem;
//     opacity: 0;
//     border-radius: 50%;
//     background: #365a49;
//     transition: 0.2s;
//   }
// }

// .delivery__form-order__comment-choose__real-money__btn:checked
//   + .delivery__form-order__comment-choose__real-money__title::after {
//   opacity: 1;
// }

// .delivery__form-order__comment-call {
//   margin-bottom: 2.72rem;
// }

// .delivery__form-order__comment-call__label-choose {
//   display: none;
// }

// .delivery__form-order__comment-call__label-text {
//   @extend .delivery__main-top__name-title;
//   padding-left: 2.05rem;
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     display: block;
//     left: 0.16rem;
//     top: -0.05rem;
//     width: 1.33rem;
//     height: 1.33rem;
//     border-radius: 0.22rem;
//     background: #fff;
//   }

//   &::after {
//     content: url("../../img/good.png");
//     position: absolute;
//     display: block;
//     top: -0.05rem;
//     left: 0.55rem;
//     opacity: 0;
//     width: 0.55rem;
//     height: 0.44rem;
//     transition: 0.2s;
//   }
// }

// .delivery__form-order__comment-call__label-choose:checked
//   + .delivery__form-order__comment-call__label-text::after {
//   opacity: 1;
// }

// .delivery__form-button {
//   display: flex;
//   align-items: center;
//   justify-content: end;
// }

// .delivery__form-button__submit {
//   padding: 1.16rem 2.27rem;
//   background: #2e4e3f;
//   text-transform: uppercase;
//   color: #fff;
//   font-weight: 800;
//   font-size: 0.88rem;
//   line-height: 1rem;
//   border-radius: 1.66rem;
//   outline: none;
//   margin-right: 0.27rem;
//   transition: 0.2s;

//   &:hover {
//     background: #fff;
//     color: #365a49;
//   }
// }

// .delivery__form-button__reset {
//   @extend .delivery__main-top__name-title;
//   outline: none;
//   height: 1.22rem;
// }
