.main__color {
  background: url("../../img/list_2.png") bottom right no-repeat;
  height: 100%;
  position: relative;
  background-color: #61c4d9;
}

.container__main {
  margin-bottom: 15%;
}

.header {
  padding-top: 1.35rem;
  height: 100%;
}
.header .container {
  background: url("../../img/comp_2.png") right center/49% auto no-repeat, url("../../img/list_3.png") bottom left no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header .container__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__menu {
  margin: 0 1.66rem;
  padding-top: 0.2rem;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header__menu-list__item {
  margin-right: 1.5rem;
}
.header__menu-list__item:last-child {
  margin-right: 0;
}

.header__menu-list__item-link {
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.11rem;
  white-space: nowrap;
}
.header__menu-list__item-link:hover {
  color: #b3b3b3;
}

.header__number {
  width: 9.22rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
}

.header__number-icon {
  position: relative;
}

.header__number-phone {
  font-size: 1.22rem;
  line-height: 1rem;
  text-decoration: none;
  width: 8.11rem;
  position: relative;
  white-space: nowrap;
}
.header__number-phone::before {
  content: "";
  display: block;
  position: absolute;
  width: 8.88rem;
  height: 1.66rem;
  left: 1.38rem;
}

.burger__menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  z-index: 11000;
}

.burger__menu-content {
  width: 26px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
}

.burger__close {
  position: fixed;
  width: 20px;
  height: 20px;
  z-index: 11001;
  top: 25px;
  right: 25px;
  display: none;
  transition: 0.2s;
}
.burger__close:hover {
  opacity: 0.7;
}

.burger-close__container {
  position: relative;
  top: 42%;
  right: 16%;
}

.burger__close-content--top {
  transform: rotate(45deg);
  width: 25px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  border-radius: 2px;
}

.burger__close-content--bottom {
  transform: rotate(-45deg);
  width: 25px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  border-radius: 2px;
}