.main__color {
  background: url("../../img/list_2.png") bottom right no-repeat;
  height: 100vh;
  min-height: 36.11rem;
  margin-bottom: 5.55rem;
  position: relative;
  background-color: #61c4d9;

  &::before {
    content: url("../../img/list_3.png");
    left: 3%;
    bottom: -1.38rem;
    position: absolute;
  }
}

.container__header {
  margin-bottom: 4.66rem;
}

.header {
  padding-top: 1.35rem;

  .container {
    background: url("../../img/comp_2.png") right center / 49% auto no-repeat;
  }

  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header__menu {
  margin: 0 1.66rem;
  padding-top: 0.2rem;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__menu-list__item {
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-list__item-link {
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.11rem;
  white-space: nowrap;

  &:hover {
    color: #b3b3b3;
  }
}

.header__number {
  width: 9.22rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
}
.header__number-icon {
  position: relative;
}

.header__number-phone {
  font-size: 1.22rem;
  line-height: 1rem;
  text-decoration: none;
  width: 8.11rem;
  position: relative;
  white-space: nowrap;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 8.88rem;
    height: 1.66rem;
    left: 1.38rem;
  }
}

.burger__menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}

.burger__menu-content {
  width: 26px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
}
