.main__color {
  background: url("../../img/list_2.png") bottom right no-repeat;
  height: 100vh;
  min-height: 650px;
  margin-bottom: 100px;
  position: relative;
  background-color: #61c4d9;

  &::before {
    content: url("../../img/list_3.png");
    left: 3%;
    bottom: -25px;
    position: absolute;
  }
}

.container__header {
  margin-bottom: 19vh;
}

.header {
  padding-top: 24.3px;

  .container {
    background: url("../../img/comp_2.png") right center / 49% auto no-repeat;
  }

  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
}
.header__menu-list__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-list__item-link {
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;

  &:hover {
    color: #b3b3b3;
  }
}

.header__number {
  width: 166px;
  display: flex;
  justify-content: space-between;
}
.header__number-icon {
  position: relative;
}

.header__number-phone {
  font-size: 22px;
  line-height: 18px;
  text-decoration: none;
  width: 146px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 30px;
    left: -25px;
  }
}
