.main {
  position: relative;
  margin-bottom: 50px;
}

.main__order {
  margin-bottom: 64px;
}

.main__order-title__name {
  font-size: 48px;
  width: 353px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 57, 6px;
  margin-bottom: 17px;
}

.main__order-title__description {
  font-size: 21px;
  line-height: 25, 2px;
  width: 371px;
  color: #fff;
  margin-bottom: 32px;
}

.main__order-btn {
  min-width: 156px;
  min-height: 60px;
  align-items: center;
  display: flex;
}

.main__order-btn__create {
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #365a49;
  padding: 21px 41px;
  background: #fff;
  border-radius: 30px;
  transition: 0.2s;
}
.main__order-btn__create:hover {
  color: #fff;
  background: #365a49;
}

.main__addition-list {
  display: flex;
}

.main__addition-list__item {
  margin-right: 9px;
  display: flex;
  align-items: flex-start;
}

.main__addition-list__item-icon {
  margin-right: 13px;
}

.main__addition-list__item-info {
  width: 114px;
  font-size: 16px;
  line-height: 18px;
}
