.main {
  position: relative;
  margin-bottom: 2.77rem;
}

.main__order {
  margin-bottom: 15%;
}

.main__order-title__name {
  font-size: 2.66rem;
  width: 19.61rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.2rem;
  margin-bottom: 5%;
}

.main__order-title__description {
  font-size: 1.16rem;
  line-height: 1.4rem;
  width: 20.61rem;
  color: #fff;
  margin-bottom: 5%;
}

.main__order-btn {
  min-width: 8.66rem;
  min-height: 3.33rem;
  align-items: center;
  display: flex;
}

.main__order-btn__create {
  font-size: 0.88rem;
  line-height: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #365a49;
  padding: 1.16rem 2.27rem;
  background: #fff;
  border-radius: 1.66rem;
  transition: 0.2s;
}
.main__order-btn__create:hover {
  color: #fff;
  background: #365a49;
}

.main__addition-list {
  display: flex;
}

.main__addition-list__item {
  margin-right: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.main__addition-list__item-icon {
  margin-right: 0.72rem;
  max-width: 100%;
}

.main__addition-list__item-info {
  width: 6.33rem;
  font-size: 0.88rem;
  line-height: 1rem;
}