.options__icon-man {
  text-align: center;
}
.options__icon-man::before {
  content: url("../../img/icon-man.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options__icon-smile {
  text-align: center;
}
.options__icon-smile::before {
  content: url("../../img/icon-smile.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options__icon-strong {
  text-align: center;
}
.options__icon-strong::before {
  content: url("../../img/icon-strong.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
