$black: #292929;

.reviews {
  margin-bottom: 6.94rem;
  background: url("../../img/zlaki.png") top right 3% no-repeat;
  position: relative;
  height: 100vh;
  min-height: 12.77rem;

  &::before {
    content: url("../../img/loza.png");
    position: absolute;
    display: block;
    left: 0;
    bottom: -12.77rem;
  }

  &::after {
    content: url("../../img/4ernika.png");
    position: absolute;
    display: block;
    left: 0;
    bottom: -6rem;
  }
}

.reviews__title {
  margin-bottom: 1.77rem;
  text-align: center;
}

.reviews__title-name {
  font-weight: 700;
  font-size: 2.66rem;
  line-height: 3.2rem;
  color: $black;
  text-transform: uppercase;
}

.reviews__color {
  flex: 1;
  background: #f8faf9;
}

.reviews__content {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: #fff;
    display: block;
    left: 50%;
    top: -0.55rem;
    transform: translate(-50%, -50%);
    width: 4.6rem;
    height: 3rem;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
  }
}

.reviews__content-about {
  padding: 2.16rem;
  background: url("../../img/kust.png") top 1.22rem right no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 0.83rem;
}

.reviews__content-about__logo {
  margin-right: 2.22rem;
}

.reviews__content-about__logo-img {
  max-width: 100%;
}

.reviews__content-about__info-title {
  color: $black;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.66rem;
}

.reviews__content-about__info-myself {
  color: #666;
  font-size: 1rem;
  line-height: 1.2rem;
  max-width: 25.55rem;
  margin-bottom: 1.38rem;
}

.reviews__content-about__info-name {
  color: $black;
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: 500;
}

.reviews__content-list {
  display: flex;
  justify-content: center;
}

.reviews__content-list__item {
  margin-right: 0.33rem;

  &:last-child {
    margin-right: 0;
  }
}

@each $names in alena, vadim, masha {
  .reviews__content-list__item-link__#{$names} {
    display: block;
    background-image: url("../../img/#{$names}.png");
    width: 74px;
    height: 74px;
  }
  .reviews__img--active {
    display: block;
    background-image: url("../../img/alena_1.png");
    width: 74px;
    height: 74px;
  }
}
