.why {
  background: url("../../img/uzor.png") left top 25% no-repeat;
  position: relative;
  height: 100vh;
  min-height: 36.11rem;
}
.why .container {
  text-align: center;
  color: #292929;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.why::after {
  content: url("../../img/malina.png");
  left: 0;
  bottom: -5.55rem;
  position: absolute;
}

.why__title-name {
  font-weight: 700;
  font-size: 2.66rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 1.05rem;
}

.why__title-about {
  color: #666;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2.72rem;
}

.why__options {
  display: flex;
  justify-content: space-around;
}

.why__options-item {
  position: relative;
}
.why__options-item::before {
  content: url("../../img/Combined.png");
  display: block;
  position: absolute;
  left: 103%;
  top: 23%;
  transform: translate(-50%, -50%);
}
.why__options-item:last-child::before {
  content: "";
}

.why__options-item__icon {
  margin-bottom: 1.11rem;
  position: relative;
}

.options__icon-man {
  text-align: center;
}
.options__icon-man::before {
  content: url("../../img/icon-man.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options__icon-smile {
  text-align: center;
}
.options__icon-smile::before {
  content: url("../../img/icon-smile.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options__icon-strong {
  text-align: center;
}
.options__icon-strong::before {
  content: url("../../img/icon-strong.png");
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.why__options-item__info-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.68rem;
}

.why__options-item__info-about {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}